[submodule "motorola-kernel"]
	path = motorola-kernel
	url = https://github.com/Joomu/motorola-kernel.git
	branch = lollipop-5.0.2-release
[submodule "drivers/staging/prima"]
	path = drivers/staging/prima
	url = https://github.com/Joomu/vendor-qcom-opensource-wlan-prima.git
	branch = lollipop-5.0.2-release
